@font-face {
  font-family: "Rajdhani";
  src: url("../assets/fonts/Rajdhani-Bold.ttf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: "Lexend";
  src: url("../assets/fonts/Lexend-VariableFont_wght.ttf") format("truetype");
  font-display: block;
}